@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------ FONT SETUP ------------ */
.font-anton {
    font-family: 'Anton', sans-serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-integral {
    font-family: 'Integral CF', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}